@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Poppins";
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(67deg, rgba(167, 157, 201, 1) 26%, rgba(180, 208, 217, 1) 50%, rgba(178, 200, 212, 1) 79%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


/* ------- HOME ------- */

/* search */
.search {
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4),
        inset 0 0 10px rgba(255, 255, 255, 0.9);
}

/* menu */

.menu {
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.4),
        inset 0 0 10px rgba(255, 255, 255, 0.9);
}

/* MenuItem */
.menuItem {
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4),
        inset 0 0 10px rgba(255, 255, 255, 0.9);
}

/* main */
.main {
    border-radius: 28px;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4),
        inset 0 0 10px rgba(255, 255, 255, 0.9);
    overflow: hidden;
}

@media screen and (max-width: 320px) {
    .main img {
        width: 100px;
        height: 100px;
    }

    .clima {
        align-items: end;
    }
}


.dailyfilter {
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4),
        inset 0 0 10px rgba(255, 255, 255, 0.9);
}

/* Daily */
.daily-cards {
    position: relative;
    width: 85px;
    height: fit-content;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4),
        inset 0 0 10px rgba(255, 255, 255, 0.9);
    text-align: center;
    padding-top: 10px;
    overflow: hidden;
    min-width: 80px;
}

/* Liquid Glow only on top-left */
.daily-cards::before {
    content: "";
    position: absolute;
    top: -30%;
    left: -30%;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at top left,
            rgba(255, 255, 255, 0.65),
            transparent 60%);
    filter: blur(25px);
    opacity: 1;
    pointer-events: none;
    z-index: 1;
}

/* Cloudy internal mist effect */
.daily-cards::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 120%;
    height: 120%;
    background: conic-gradient(from 180deg at 30% 30%,
            rgba(255, 255, 255, 0.15),
            rgba(255, 255, 255, 0.02),
            transparent);
    filter: blur(12px);
    opacity: 0.4;
    pointer-events: none;
    z-index: 0;
}


/* Next Day */
.glass-cards {
    position: relative;
    width: 140px;
    height: 210px;
    border-radius: 28px;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4),
        inset 0 0 10px rgba(255, 255, 255, 0.9);
    text-align: center;
    padding-top: 32px;
    overflow: hidden;
}

/* Liquid Glow only on top-left */
.glass-cards::before {
    content: "";
    position: absolute;
    top: -30%;
    left: -30%;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at top left,
            rgba(255, 255, 255, 0.65),
            transparent 60%);
    filter: blur(25px);
    opacity: 1;
    pointer-events: none;
    z-index: 1;
}

/* Cloudy internal mist effect */
.glass-cards::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 120%;
    height: 120%;
    background: conic-gradient(from 180deg at 30% 30%,
            rgba(255, 255, 255, 0.15),
            rgba(255, 255, 255, 0.02),
            transparent);
    filter: blur(12px);
    opacity: 0.4;
    pointer-events: none;
    z-index: 0;
}

.glass-cards.active {
    border: 2px solid #3b82f6;
    box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.5),
        0 10px 25px rgba(0, 0, 0, 0.4),
        inset 0 0 10px rgba(255, 255, 255, 0.9);
}





/* -------- About us -------- */
.aboutmain {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4),
        inset 0 0 10px rgba(255, 255, 255, 0.9);
    overflow: hidden;
    margin-bottom: 12px;
}

.back {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4),
        inset 0 0 10px rgba(255, 255, 255, 0.9);
}



/* --------- Site Settings -------- */
.settingsmain {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4),
        inset 0 0 10px rgba(255, 255, 255, 0.9);
    overflow: hidden;
    margin-bottom: 12px;
}

/* other */
.other {
    border-radius: 28px;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4),
        inset 0 0 10px rgba(255, 255, 255, 0.9);
    overflow: hidden;
}



/* Loader  loading*/
.loader.loading {
    width: 48px;
    height: 48px;
    border: 3px dotted #FFF;
    border-style: solid solid dotted dotted;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 2s linear infinite;
}

.loader.loading::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px dotted #0768aa;
    border-style: solid solid dotted;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    animation: rotationBack 1s linear infinite;
    transform-origin: center center;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotationBack {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}


/* loader Error */
.loader.error {
    position: relative;
    width: 120px;
    height: 140px;
    background-image: radial-gradient(circle 30px, #fff 100%, transparent 0),
    radial-gradient(circle 5px, #fff 100%, transparent 0),
    radial-gradient(circle 5px, #fff 100%, transparent 0),
    linear-gradient(#FFF 20px, transparent 0);
    background-position: center 127px , 94px 102px , 16px 18px, center 114px;
    background-size: 60px 60px, 10px 10px , 10px 10px , 4px 14px;
    background-repeat: no-repeat;
    z-index: 10;
    perspective: 500px;
  }
  .loader.error::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius:50%;
    border: 3px solid #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -55%) rotate(-45deg);
    border-right-color: transparent;
    box-sizing: border-box;
}
  .loader.error::after {
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    transform: translate(-50%, -55%) rotate(-45deg) rotateY(0deg) ;
    left: 50%;
    top: 50%;
    box-sizing: border-box;
    border: 7px solid #FF3D00;
    border-radius:50%;
    animation: rotate 0.5s linear infinite;
  }

@keyframes rotate {
  to{transform: translate(-50%, -55%) rotate(-45deg) rotateY(360deg)   }
}
    